  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= title %></title>

  <meta name="viewport" content="width=device-width"/>
  <%= css 'reset.css' %>
  <%= css 'showoff.css' %>
  <%= css 'merlot/stylesheets/core.css' %>

  <%= js 'jquery-1.4.2.min.js' %>
  <%= js 'jquery.cycle.all.js' %>
  <%= js 'jquery-print.js' %>
  <%= js 'jquery.batchImageLoad.js' %>

  <%= js 'jquery.doubletap-0.1.js' %>
  <%= js 'fg.menu.js' %>
  <%= js 'showoff.js' %>
  <%= js 'jTypeWriter.js' %>
  <%= js 'sh_main.min.js' %>
  <%= js 'core.js' %>
  <%= js 'showoffcore.js' %>
  <%= js 'coffee-script.js' %>

  <%= css 'fg.menu.css' %>
  <%= css 'theme/ui.all.css' %>
  <%= css 'ghf_marked.css' %>

  <%= custom_css_files %>
  <%= custom_js_files %>

  <style type="text/css">
  h1 { font-size: 5em; }
  h2 { font-size: 3em; }
  h3 { font-size: 2em; }
  blockquote { border-left-width: 0px; }
  blockquote p { margin-left: 20px; }
/*  li { list-style-type: none; }*/
  blockquote { font-size: 30px; font-style: italic; }

  </style>
