  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= title %></title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=1024" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <%= css 'showoff.css' %>
  <%= css 'ghf_marked.css' %>
  <%= css '960.css' %>
  <%= css 'impress-demo.css' %>

  <%= js 'impress.js' %>

