<div id='<%= id %>' class='step <%= slide_classes %>' data-transition='<%= transition %>' 
     data-x="<%= data_x %>" data-y="<%= data_y %>" data-scale="<%= data_scale %>" data-rotate="<%= data_rotation %>">
  <div class='content <%= content_classes %>' ref='<%= reference %>'>
    <%= content_as_html %>
  </div>
</div>