<div id='<%= id %>' class='slide <%= slide_classes.join(' ') %>' data-transition='<%= transition %>'>
  <div class='content <%= content_classes.join(' ') %>' ref='<%= reference %>'>
    <%= content_as_html %>
  </div>
</div>